# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/email_threat_intel
REDIS_URL=redis://localhost:6379/0

# JWT Authentication
JWT_SECRET_KEY=kcQITBywHmUx8DWP9ZXMpjgbwl6M67abpSwWLAmCUwJ
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# API Keys
MAXMIND_DB_PATH=./data/GeoLite2-City.mmdb
ABUSEIPDB_KEY=b480ec862a550b448c1552ba8976bcd915d798ad3960d55d7f1fccb96d887926b3ea70c82027f655
VIRUSTOTAL_KEY=cdedd91b5b83631c3758ff41948cbcf5cea0e49fe96b4f8a4a900095b3e108ee
IPINFO_TOKEN=a02e60144a1171

# Alert Thresholds
ALERT_THRESHOLD_HIGH=75
ALERT_THRESHOLD_CRITICAL=90

# Risk Weights
RISK_WEIGHT_NLP=0.35
RISK_WEIGHT_AUTH=0.25
RISK_WEIGHT_IP=0.20
RISK_WEIGHT_GEO=0.10
RISK_WEIGHT_LINK=0.10

# CORS
CORS_ORIGINS=["http://localhost:5173"]
